@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");

.review-section {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 330;
  color: #b5b5b5;
  margin-bottom: 4rem;
  width: 88%;
  margin: 0 auto;
}

.review-section-header {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.add-review {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.add-review-input {
  flex: 1;
  padding: 10px;
  border: 0;
  background-color: transparent;
  color: white;
  border-bottom: 0.8px solid #b5b5b5;
}

.add-review-button {
  padding: 8px 18px;
  border: none;
  border-radius: 18px;
  background-color: #220909;
  color: white;
  cursor: pointer;
  width: 30%;
  margin-top: 2%;
  font-size: 13px;
}

.review {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 1%;
  margin-top: 2rem;
}

.review-avatar img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.review-content {
  flex: 1;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  
}

.review-name {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}

.review-time {
  color: #aaa;
  font-size: 14px;

}

.review-text {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

.review-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cancel-review-button {
  padding: 8px 18px;
  border: none;
  border-radius: 18px;
  background: none;
  color: white;
  cursor: pointer;
  margin-top: 2%;
  font-size: 13px;
}

.delete-review-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 45%;

}

.delete-icon {
  color: rgb(255, 255, 255); /* Changes the color of the icon */
  font-size: 22px; /* Adjusts the size of the icon */
}

@media screen and (min-width: 1024px) {
  .review-section {
    width: 93%;
    margin-left: 3%;
    margin-right: 0%;
    padding: 0;
  }

  .add-review-button {
    width: 8%;
    font-size: 14px;
  }

  .review-section-header {
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .add-review-input {
    flex: 1;
    font-size: 16px;
  }

  .review-text {
    font-size: 16px;
    margin-bottom: 3rem;
  }

  .review-name {
    font-size: 18px;
  }

  .review-time {
    font-size: 16px;
  }

  .review-avatar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  .delete-review-button {
    margin-left: 85%;
  
  }
  .review {
   
    margin-top: 1rem;
  }

  
}