.content-slider {
  width: 85%;
  margin: auto;
}

.content-slider .slick-slide {
  transition: transform 0.3s ease-in-out;
  padding: 0px; /* Adjust the value as needed */
}

.content-slider .slick-slide:hover {
  transform: scale(1.1);
}

.content-slider .slick-list {
  margin: 0px; /* Adjust the value to match padding */
}

@media screen and (min-width: 1024px) {
  .content-slider {
    width: 62%;
    margin: auto;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: #000000ba;
    -webkit-font-smoothing: antialiased;
  }
}
