.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.662);
  height: 7rem;
  
}
.logo_profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4%;


}
.logo{
  font-size: 26px;
  text-decoration: none;
  color: #FFFFFF;
}
.button-filter{
  font-size: 11px;
  text-decoration: none;
  color: #FFFFFF;

  
}

.genre-film-series{
  display: flex;
  flex-direction: row;
  gap: 25%;
  

}
.button-watchlist{
  font-size: 11px;
  text-decoration: none;
  color: #FFFFFF;
  
}


.filter_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 4%;
}
