@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");
.filter-genre {
  position: relative;
}

.button-filter-genre {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.genre-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 303px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.94);
  border-radius: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.genre-item {
  padding: 24px 80px;
  cursor: pointer;
  color: #aeaeae;

  font-size: 16px;
  margin: 12px 0;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  text-underline-offset: 4px;
}

.genre-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
